<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Stargazers.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>40CBC5611E8AA0890017680F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>40CBC5751E8AA0890017680F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>40CBC5801E8AA0890017680F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
